.dnd-library-wrapper .editor-item .meta.type-file {
  background-image: url('icons/file.png');
}

.scald-menu .add-buttons .add-file {
  background: url('icons/file-large-inverted.png') 50% 50% no-repeat;
}

.scald-menu .add-buttons .add-file:hover {
  background-image: url('icons/file-large-color.png');
}

.dnd-drop-wrapper img.scald-file-icon,
img.scald-file-icon {
  height: 16px;
  vertical-align: top;
}

iframe.pdf,
.dnd-drop-wrapper iframe.pdf {
  width: 100%;
}
/**
 * For my users, all the following were useful declarations.  Modify or delete as you will.
 */
.dnd-atom-wrapper.type-file{
    display:inline-block;
}

.scald-file-context-full {
    margin-bottom: 4em;
}

.scald-file-context-full .file-info {
    float: right;
    background-color: #eee;
    border: 1px solid #333;
    box-shadow: 0 1px 3px #333;
    margin: 1em;
    padding: 1em;
    ul {
        list-style-type: none;
    }
}