body #zone-content .region-content .node .rosters-output .metadata { font-size: 0.8em; color: gray; font-style: italic; }
body #zone-content .region-content .node .rosters-output .name { display: inline-block; vertical-align: middle; }
body #zone-content .region-content .node .rosters-output .fa:before { padding: 0 2px !important; }
body #zone-content .region-content .node .rosters-output .alt { background-color: #eee; }
body #zone-content .region-content .node .rosters-output img, body #zone-content .region-content .node .rosters-output .no-picture { vertical-align: top; width: 100px; min-height: 100px; margin: .25em; background-color: #ccc; vertical-align: middle; display: inline-block; /* align vertical */ box-shadow: 0px 0px 0px 1px #FFF,0px 0px 0px 2px #2A3A89; }
body #zone-content .region-content .node .rosters-output img span, body #zone-content .region-content .node .rosters-output .no-picture span { display: block; color: white; text-align: center; margin-top: 10%; text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
body #zone-content .region-content .node .rosters-output .person { display: block; }
body #zone-content .region-content .node .rosters-output .person .info, body #zone-content .region-content .node .rosters-output .person .positions, body #zone-content .region-content .node .rosters-output .person .accounts, body #zone-content .region-content .node .rosters-output .person .name { vertical-align: middle; }
body #zone-content .region-content .node .rosters-output .positions .title { font-weight: bold; }
body #zone-content .region-content .node .rosters-output .inactive { text-decoration: line-through; }
body #zone-content .region-content .node .rosters-output ul.accounts { list-style-type: none; margin: 0; padding: 0; }
body #zone-content .region-content .node .rosters-output .grouped { margin: .5em 0; padding: .25em 0; }
body #zone-content .region-content .node .rosters-output .grouped .group-title { font-size: 1.1em; padding: .25em 0 .25em .25em; background-color: #2A3A89; color: white; display: block; margin: 0; }
body #zone-content .region-content .node .rosters-output.template-people.display-block .name { font-size: 1.5em; margin: .25em; }
body #zone-content .region-content .node .rosters-output.template-people.display-block .position { margin: .75em 0; }
body #zone-content .region-content .node .rosters-output.template-people.display-table { display: table !important; width: 100%; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .person { display: table; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .person .info, body #zone-content .region-content .node .rosters-output.template-people.display-table .person .positions, body #zone-content .region-content .node .rosters-output.template-people.display-table .person .accounts { display: table-cell; vertical-align: top; width: 33%; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .position { margin: .75em 0; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .grouped { display: table; width: 100%; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .grouped .group-title { display: table-caption; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .grouped .person { display: table-row; }
body #zone-content .region-content .node .rosters-output.template-people.display-table .name { margin: 0 .25em; font-size: 1.2em; }
body #zone-content .region-content .node .rosters-output.template-lists .list-title { border: 1px solid #ccc; border-width: 1px; font-size: 2em; padding: .25em; color: #2A3A89; background-color: #eee; border-radius: .5em .5em 0 0; display: block; margin: 0; }
body #zone-content .region-content .node .rosters-output.template-lists .list-description { padding: .25em; margin: 0; border: 1px solid #ccc; border-width: 0 1px 1px 1px; font-weight: bolder; color: #333; }
body #zone-content .region-content .node .rosters-output.template-lists .list-body { margin: 0; padding: 1em; border: 1px solid #ccc; border-width: 0 1px 1px 1px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
body #zone-content .region-content .node .rosters-output.template-lists .list-body.display-inline .person { display: block; }
