/* Galleria NN/LM Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */
$background-color: black;

@mixin background_gradient {
    $gradient-start: $background-color;
    $gradient-end: lighten($background-color, 50%);
    background: -moz-linear-gradient($gradient-start, $gradient-end);
    /* FF 3.6+ */
    background: -ms-linear-gradient($gradient-start, $gradient-end);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-start), color-stop(100%, $gradient-end));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient($gradient-start, $gradient-end);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient($gradient-start, $gradient-end);
    /* Opera 11.10 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end')";
    /* IE8+ */
    background: linear-gradient($gradient-start, $gradient-end);
}

#galleria-loader {
    height: 1px !important;
}

.galleria-theme-nnlm {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    /* Safari/Chrome, other WebKit */
    -webkit-box-sizing: border-box; 
    /* Firefox, other Gecko */
    -moz-box-sizing: border-box;    
    /* Opera/IE 8+ */
    box-sizing: border-box; 
    img {
        -moz-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        margin: 0;
    }
    .galleria-images {
        .galleria-image {
            img {
                max-height: 350px;
            }
        }
    }
    .galleria-stage {
        @include background_gradient;
        position: absolute;
        top: 10px;
        bottom: 60px;
        left: 10px;
        right: 10px;
        overflow: hidden;
        border-radius: 10px;
    }
    .galleria-thumbnails-container {
        height: 50px;
        bottom: 0;
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 2;
        .galleria-thumbnails {
            .galleria-image {
                height: 40px;
                width: 60px;
                background: $background-color;
                margin: 0 5px 0 0;
                border: 1px solid $background-color;
                float: left;
                cursor: pointer;
            }
        }
        .disabled {
            opacity: .2;
            filter: alpha(opacity = 20);
            cursor: default;
        }
    }
    .galleria-carousel {
        .galleria-thumbnails-list {
            margin-left: 30px;
            margin-right: 30px;
            .galleria-thumb-nav-left, .galleria-thumb-nav-right {
                display: block;
                background-image: url(nnlm-map.png);
                background-repeat: no-repeat;
            }
        }
    }
    .galleria-counter {
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-align: right;
        color: #fff;
        font: normal 11px/1 arial,sans-serif;
        z-index: 1;
    }
    .galleria-loader {
        background: $background-color;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        display: none;
        background: url(nnlm-loader.gif) no-repeat 2px 2px;
    }
    .galleria-info {
        width: 100%;
        bottom: 60px;
        left: 0;
        z-index: 2;
        position: absolute;
        opacity: .8;
        filter: alpha(opacity = 80);
        .galleria-info-title {
            font: bold 12px/1.1 arial,sans-serif;
            margin: 0;
            color: #fff;
            margin-bottom: 7px;
        }
        .galleria-info-text {
            background-color: $background-color;
            padding: 12px;
            /* IE7 */
            zoom: 1;
        }
        .galleria-info-description {
            font: italic 12px/1.4 georgia,serif;
            margin: 0;
            color: #bbb;
        }
        .galleria-info-link {
            display: none;
            background-position: -669px -5px;
            position: absolute;
            top: 2px;
            right: 15px;
            cursor: pointer;
            background-color: #000;
            background-image: url(nnlm-map.png);
            background-repeat: no-repeat;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            &:hover{
                background-color: lighten(#000, 20%);
            }
        }
        .galleria-info-close {
            width: 9px;
            height: 9px;
            position: absolute;
            top: 5px;
            right: 5px;
            background-image: url(nnlm-map.png);
            background-position: -753px -11px;
            opacity: .5;
            filter: alpha(opacity = 50);
            cursor: pointer;
        }
    }
    .notouch {
        .galleria-info-close:hover {
            opacity: 1;
            filter: alpha(opacity = 100);
        }
    }
    .touch {
        .galleria-info-close:active {
            opacity: 1;
            filter: alpha(opacity = 100);
        }
    }
    .galleria-image-nav {
        position: absolute;
        top: 50%;
        margin-top: -62px;
        width: 100%;
        height: 62px;
        left: 0;
    }
    .galleria-image-nav-left, .galleria-image-nav-right {
        opacity: .3;
        filter: alpha(opacity = 30);
        cursor: pointer;
        width: 62px;
        height: 124px;
        position: absolute;
        left: 10px;
        z-index: 2;
        background-position: 0 46px;
        background-image: url(nnlm-map.png);
        background-repeat: no-repeat;
        &:hover, &:active {
            opacity: 1;
            filter: alpha(opacity = 100);
        }
    }
    .galleria-image-nav-left {}
    .galleria-image-nav-right {
        left: auto;
        right: 10px;
        background-position: -254px 46px;
        z-index: 2;
    }
    .galleria-thumb-nav-left, .galleria-thumb-nav-right {
        cursor: pointer;
        background-position: -495px 5px;
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 23px;
        z-index: 3;
        opacity: .8;
        filter: alpha(opacity = 80);
    }
    .galleria-thumb-nav-left {}
    .galleria-thumb-nav-right {
        background-position: -578px 5px;
        border-right: none;
        right: 0;
        left: auto;
    }
}