/**
 * This covers general styles for the theme 
 * applicable across every display resolution.
 */
/**
 * This file contains regional overrides for the base variables
 * established in _base.scss
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/*
$superfish-link-color: white;
$superfish-background-color: $primary-color;
$superfish-link-hover-color: black;
$superfish-link-background-hover-color: lighten($primary-color, 30%);
$superfish-link-active-color: $superfish-link-hover-color;
$superfish-link-active-background-color: $superfish-link-background-hover-color;
*/
/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/**
 * _style
 * This covers general styles for the theme
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* line 11, ../../../sass/global/_style.scss */
body {
  font-family: "Trebuchet MS", "Ariel", sans-serif;
  background: -moz-linear-gradient(white, #eeeeee);
  /* FF 3.6+ */
  background: -ms-linear-gradient(white, #eeeeee);
  /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(white, #eeeeee);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(white, #eeeeee);
  /* Opera 11.10 */
  /* IE8+ */
  background: linear-gradient(#ffffff, #eeeeee);
  /*a, p, ul, ol, li, img, span, strong, em, div{
      font-size: $base-font-size;
  }*/
  /*tr:hover td,tr.even:hover td.active,tr.odd:hover td.active {
      background: transparent;
  }*/
}
/* line 25, ../../../sass/global/_style.scss */
body a {
  color: #2A3A89;
}
/* line 28, ../../../sass/global/_style.scss */
body a:visited {
  color: #551A8B;
  text-decoration: underline;
}
/* line 32, ../../../sass/global/_style.scss */
body a img {
  border: 0;
}
/* line 36, ../../../sass/global/_style.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: normal;
}
/* line 40, ../../../sass/global/_style.scss */
body h1, body h2.node-title {
  font-size: 24px;
  margin: 2px 0 16px 0;
}
/* line 44, ../../../sass/global/_style.scss */
body h2 {
  font-size: 20px;
  margin: 20px 0 13.33333px 0;
}
/* line 48, ../../../sass/global/_style.scss */
body h3 {
  font-size: 18.72px;
  margin: 9.36px 0;
}
/* line 52, ../../../sass/global/_style.scss */
body h4 {
  font-size: 16px;
  margin: 8px 0;
}
/* line 56, ../../../sass/global/_style.scss */
body h5 {
  font-size: 16px;
  margin: 8px 0;
}
/* line 60, ../../../sass/global/_style.scss */
body h6 {
  font-size: 16px;
  margin: 8px 0;
}
/* line 64, ../../../sass/global/_style.scss */
body code {
  font-size: 11px;
}
/* line 67, ../../../sass/global/_style.scss */
body td, body th, body table {
  margin: auto;
  padding: auto;
  border: 0;
}
/* line 72, ../../../sass/global/_style.scss */
body td.views-table td, body th.views-table td, body table.views-table td {
  vertical-align: top;
}
/* line 75, ../../../sass/global/_style.scss */
body td.views-table caption, body th.views-table caption, body table.views-table caption {
  text-align: left;
  margin-top: 1em;
  font-weight: bold;
  color: #2A3A89;
}
/* line 86, ../../../sass/global/_style.scss */
body ul li ul {
  margin: 0;
  padding: 0;
}
/* line 93, ../../../sass/global/_style.scss */
body #dev_indicators {
  position: fixed;
  top: 180px;
  left: 10px;
  z-index: 190;
}
/* line 99, ../../../sass/global/_style.scss */
body ul.action-links a {
  line-height: 30px;
  padding-left: 15px;
}
/* line 103, ../../../sass/global/_style.scss */
body .equal-height-element > div {
  height: 100%;
}
/* line 107, ../../../sass/global/_style.scss */
body .field-group-htab .fieldset-legend {
  display: none;
}
/* line 111, ../../../sass/global/_style.scss */
body .material-button {
  box-sizing: border-box;
  text-align: center;
}
/* line 13, ../../../sass/_mixins.scss */
body .material-button a, body .material-button span {
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  padding: 1em;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 23, ../../../sass/_mixins.scss */
body .material-button a:hover, body .material-button span:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
/* line 28, ../../../sass/_mixins.scss */
body .material-button span.ext {
  display: none;
}
/* line 114, ../../../sass/global/_style.scss */
body .node {
  background-color: white;
}
/* line 116, ../../../sass/global/_style.scss */
body .node.node-nodeblock {
  background-color: transparent;
}
/* line 119, ../../../sass/global/_style.scss */
body .node .two-column {
  display: table;
  vertical-align: top;
}
/* line 122, ../../../sass/global/_style.scss */
body .node .two-column .column {
  display: table-cell;
  vertical-align: top;
}
/* line 125, ../../../sass/global/_style.scss */
body .node .two-column .column.right {
  text-align: right;
}
/* line 131, ../../../sass/global/_style.scss */
body .node .galleria-info a {
  color: #fff;
}
/* line 135, ../../../sass/global/_style.scss */
body .node .field-name-field-node-styles {
  visibility: hidden;
}
/* line 139, ../../../sass/global/_style.scss */
body .node-unpublished .node-title {
  color: red;
}
/* line 142, ../../../sass/global/_style.scss */
body .node-unpublished .node-title:after {
  content: " (draft)";
}
/* line 145, ../../../sass/global/_style.scss */
body .responsive-svg {
  /* To use this, you must put the svg in a container element called
  responsive svg, and assign the following inline styles to it:
  width: percentage
  padding-top: (viewport-height / viewport-width) * percentage;
  More info: http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
  */
  /* create positioning context for svg*/
  position: relative;
  /* collapse the container's height */
  height: 0;
  margin: auto;
}
/* line 157, ../../../sass/global/_style.scss */
body .responsive-svg img, body .responsive-svg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 166, ../../../sass/global/_style.scss */
body .server-info-block {
  border: 1px dotted #2A3A89;
  border-bottom: 0;
  border-radius: .5em .5em 0 0;
  padding: .5em;
  color: #900;
  font-size: 11.42857px;
  display: block;
}
/* line 175, ../../../sass/global/_style.scss */
body .zone {
  background-color: transparent;
}

/** Omega specific **/
/* line 181, ../../../sass/global/_style.scss */
div[class*='region-preface-'], div[class*='region-header-'], div[class*="region-user-"] {
  min-height: 1px;
}

/** Global mobile styles **/
/* line 188, ../../../sass/global/_style.scss */
body.responsive-layout-mobile .grid-1, body.responsive-layout-mobile .grid-2, body.responsive-layout-mobile .grid-3, body.responsive-layout-mobile .grid-4, body.responsive-layout-mobile .grid-5, body.responsive-layout-mobile .grid-6, body.responsive-layout-mobile .grid-7, body.responsive-layout-mobile .grid-8, body.responsive-layout-mobile .grid-9, body.responsive-layout-mobile .grid-10, body.responsive-layout-mobile .grid-11, body.responsive-layout-mobile .grid-12, body.responsive-layout-mobile .grid-13, body.responsive-layout-mobile .grid-14, body.responsive-layout-mobile .grid-15, body.responsive-layout-mobile .grid-16, body.responsive-layout-mobile .grid-17, body.responsive-layout-mobile .grid-18, body.responsive-layout-mobile .grid-19, body.responsive-layout-mobile .grid-20, body.responsive-layout-mobile .grid-21, body.responsive-layout-mobile .grid-22, body.responsive-layout-mobile .grid-23, body.responsive-layout-mobile .grid-24 {
  margin-left: 0;
  margin-right: 0;
}

/* Include all other partials here. */
/**
 * _branding.scss
 * This covers styles for the branding region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/* line 12, ../../../sass/global/_branding.scss */
body #banner {
  width: 100%;
}
/* line 14, ../../../sass/global/_branding.scss */
body #banner .site-name-logotype {
  color: #2A3A89;
  font-family: "Times New Roman", serif;
  vertical-align: middle;
  float: left;
  margin: 0 auto;
  min-width: 350px;
  min-width: 25em;
}
@media (min-width: 768px) {
  /* line 14, ../../../sass/global/_branding.scss */
  body #banner .site-name-logotype {
    display: inline-block;
  }
}
/* line 26, ../../../sass/global/_branding.scss */
body #banner .site-name-logotype #nnlm_logo {
  display: table-cell;
  height: 12vw;
  float: left;
  vertical-align: middle;
}
@media (min-width: 400px) {
  /* line 26, ../../../sass/global/_branding.scss */
  body #banner .site-name-logotype #nnlm_logo {
    height: 55px;
    width: 110px;
  }
}
/* line 36, ../../../sass/global/_branding.scss */
body #banner .site-name-logotype .site-name-logotype-top {
  display: table-row;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 3.3vw;
  letter-spacing: 1.433px;
  vertical-align: middle;
}
@media (min-width: 400px) {
  /* line 36, ../../../sass/global/_branding.scss */
  body #banner .site-name-logotype .site-name-logotype-top {
    font-size: 14.4px;
  }
}
/* line 48, ../../../sass/global/_branding.scss */
body #banner .site-name-logotype .site-slogan-divider {
  font-style: italic;
  margin-right: 3px;
}
/* line 52, ../../../sass/global/_branding.scss */
body #banner .site-name-logotype .site-name-logotype-bottom {
  display: table-row;
  font-size: 6vw;
  vertical-align: middle;
  margin-bottom: 0;
}
@media (min-width: 400px) {
  /* line 52, ../../../sass/global/_branding.scss */
  body #banner .site-name-logotype .site-name-logotype-bottom {
    font-size: 24px;
  }
}
/* line 64, ../../../sass/global/_branding.scss */
body #banner .site-name-editorial-section {
  display: block;
  text-align: center;
}
@media (max-width: 584px) {
  /* line 64, ../../../sass/global/_branding.scss */
  body #banner .site-name-editorial-section {
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  /* line 64, ../../../sass/global/_branding.scss */
  body #banner .site-name-editorial-section {
    text-align: right;
    min-width: 350px;
  }
}
@media (min-width: 1280px) {
  /* line 64, ../../../sass/global/_branding.scss */
  body #banner .site-name-editorial-section {
    display: inline-block;
    margin-top: 1em;
    padding: 0 1em;
    min-width: 350px;
  }
}
/* line 80, ../../../sass/global/_branding.scss */
body #banner .site-name-editorial-section p {
  background: transparent;
  font-size: 5vw;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 400px) {
  /* line 80, ../../../sass/global/_branding.scss */
  body #banner .site-name-editorial-section p {
    font-size: 24px;
  }
}
/* line 90, ../../../sass/global/_branding.scss */
body #banner .site-name-editorial-section p a {
  color: #2A3A89;
  text-decoration: none;
}
/* line 93, ../../../sass/global/_branding.scss */
body #banner .site-name-editorial-section p a:hover {
  text-decoration: underline;
}
/* line 96, ../../../sass/global/_branding.scss */
body #banner .site-name-editorial-section p a:visited {
  color: #2A3A89;
}
/* line 103, ../../../sass/global/_branding.scss */
body #zone-branding {
  background-color: transparent;
}
/* line 105, ../../../sass/global/_branding.scss */
body #zone-branding table .gsib_a, body #zone-branding table .gsib_b, body #zone-branding table th, body #zone-branding table td {
  padding: 0;
}
/* line 110, ../../../sass/global/_branding.scss */
body #zone-branding .block {
  float: right;
}
/* line 112, ../../../sass/global/_branding.scss */
body #zone-branding .block .block-title {
  display: none;
}
/* line 117, ../../../sass/global/_branding.scss */
body #zone-branding .site-region-branding .site-region-branding-label {
  color: #2A3A89;
  font-family: serif;
  font-size: 24px;
}
/* line 123, ../../../sass/global/_branding.scss */
body #zone-branding #region-branding {
  background-color: transparent;
}

/* line 3, ../../../sass/global/_components.scss */
body #zone-content .region-content {
  /** back to top button */
}
/* line 5, ../../../sass/global/_components.scss */
body #zone-content .region-content a.back-to-top, body #zone-content .region-content .toc-back-to-top a {
  float: right;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  background-image: none;
  border-radius: 3px;
  padding: 0.75em;
}
/* line 13, ../../../sass/global/_components.scss */
body #zone-content .region-content a.back-to-top:hover, body #zone-content .region-content .toc-back-to-top a:hover {
  background-color: rgba(135, 135, 135, 0.5);
}
/* line 17, ../../../sass/global/_components.scss */
body #zone-content .region-content .national-content-block-1 {
  background-color: #2A3A89;
  color: white;
  padding: 0 2rem;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  min-height: 8rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 20, ../../../sass/global/_components.scss */
body #zone-content .region-content .national-content-block-1 a, body #zone-content .region-content .national-content-block-1 a:hover, body #zone-content .region-content .national-content-block-1 a:visited {
  color: white;
}

/**
 * _content.scss
 * This covers styles for the main content region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/* line 11, ../../../sass/global/_content.scss */
body #zone-content {
  margin-top: 10px;
}
/* line 13, ../../../sass/global/_content.scss */
body #zone-content #breadcrumb {
  overflow: hidden;
}
/* line 15, ../../../sass/global/_content.scss */
body #zone-content #breadcrumb h2.element-invisible {
  width: 100%;
}
/* line 18, ../../../sass/global/_content.scss */
body #zone-content #breadcrumb div.breadcrumb {
  float: left;
  position: relative;
  display: block;
  font-weight: bold;
  border-radius: 0 1em 1em 0;
}
/* line 24, ../../../sass/global/_content.scss */
body #zone-content #breadcrumb div.breadcrumb a {
  font-weight: normal;
}
/* line 30, ../../../sass/global/_content.scss */
body #zone-content .region-content ul, body #zone-content .region-content ol {
  list-style-position: outside;
  margin-left: 1em;
}
/* line 34, ../../../sass/global/_content.scss */
body #zone-content .region-content .region-content-inner {
  min-height: 10em;
  background-color: white;
  padding: .5em;
  border: 1px solid #eee;
}
/* line 41, ../../../sass/global/_content.scss */
body #zone-content .region-content figcaption, body #zone-content .region-content .field-name-field-caption, body #zone-content .region-content .dnd-legend-wrapper {
  text-align: center;
  font-style: italic;
  border: 0;
  background-color: #eee;
  color: #333;
}
/* line 49, ../../../sass/global/_content.scss */
body #zone-content .region-content .node img {
  vertical-align: middle;
  max-width: 768px;
}
/* line 53, ../../../sass/global/_content.scss */
body #zone-content .region-content .node p {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 57, ../../../sass/global/_content.scss */
body #zone-content .region-content .node ol, body #zone-content .region-content .node ul {
  margin-left: 1em;
}
/* line 60, ../../../sass/global/_content.scss */
body #zone-content .region-content .node ul {
  list-style-type: disc;
}
/* line 62, ../../../sass/global/_content.scss */
body #zone-content .region-content .node ul ul {
  list-style-type: circle;
}
/* line 67, ../../../sass/global/_content.scss */
body #zone-content .region-content .node .toc ul {
  list-style-type: none;
}
/* line 72, ../../../sass/global/_content.scss */
body #zone-content .region-content .node .field-items .field-item {
  display: block;
}
/* line 76, ../../../sass/global/_content.scss */
body #zone-content .region-content .node .field-name-field-origin-url {
  display: none;
  float: right;
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
}
/* line 84, ../../../sass/global/_content.scss */
body #zone-content .region-content .node.node-unpublished .field-name-field-origin-url {
  display: block;
}
/* line 89, ../../../sass/global/_content.scss */
body #zone-content .region-content section.block {
  display: inline-block;
}
/* line 91, ../../../sass/global/_content.scss */
body #zone-content .region-content section.block .block-title {
  text-align: center;
}
/* line 99, ../../../sass/global/_content.scss */
body #zone-content .region-sidebar-first + .region-content .node img,
body #zone-content .region-sidebar-second + .region_content .node img {
  max-width: 640px;
}
/* line 105, ../../../sass/global/_content.scss */
body #zone-content .revisioning-ux-buttons form#revisioning-ux-publish #edit-submit {
  display: none;
}
/* line 112, ../../../sass/global/_content.scss */
body #zone-content .toc .toc-number {
  margin-left: 0;
}

/* line 121, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .region-content {
  margin-top: 1em;
  min-height: 10em;
  background-color: white;
}
/* line 122, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .region-content .region-inner {
  border-width: 0;
}
/* line 126, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .region-content img {
  max-width: 320px;
}
/* line 131, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .region-content .content {
  padding: .5em;
}
/* line 138, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .region-sidebar-first + .region-content .node img,
body.responsive-layout-mobile #zone-content .region-sidebar-second + .region_content .node img {
  max-width: 380px;
}
/* line 142, ../../../sass/global/_content.scss */
body.responsive-layout-mobile #zone-content .grid-1, body.responsive-layout-mobile #zone-content .grid-2, body.responsive-layout-mobile #zone-content .grid-3, body.responsive-layout-mobile #zone-content .grid-4, body.responsive-layout-mobile #zone-content .grid-5, body.responsive-layout-mobile #zone-content .grid-6,
body.responsive-layout-mobile #zone-content .grid-7, body.responsive-layout-mobile #zone-content .grid-8, body.responsive-layout-mobile #zone-content .grid-9, body.responsive-layout-mobile #zone-content .grid-10, body.responsive-layout-mobile #zone-content .grid-11, body.responsive-layout-mobile #zone-content .grid-12,
body.responsive-layout-mobile #zone-content .grid-13, body.responsive-layout-mobile #zone-content .grid-14, body.responsive-layout-mobile #zone-content .grid-15, body.responsive-layout-mobile #zone-content .grid-16, body.responsive-layout-mobile #zone-content .grid-17, body.responsive-layout-mobile #zone-content .grid-18,
body.responsive-layout-mobile #zone-content .grid-19, body.responsive-layout-mobile #zone-content .grid-20, body.responsive-layout-mobile #zone-content .grid-21, body.responsive-layout-mobile #zone-content .grid-22, body.responsive-layout-mobile #zone-content .grid-23, body.responsive-layout-mobile #zone-content .grid-24 {
  max-width: 100%;
}

/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* line 2, ../../../sass/global/_content_type_training_class.scss */
.view-course-home-page-sidebar-content {
  box-shadow: 0 3px 6px rgba(66, 66, 66, 0.25);
  outline: 1px solid #aaa;
  background-color: white;
  padding: 1em;
  margin: 1em;
}
/* line 7, ../../../sass/global/_content_type_training_class.scss */
.view-course-home-page-sidebar-content .views-label {
  font-weight: bold;
}
/* line 10, ../../../sass/global/_content_type_training_class.scss */
.view-course-home-page-sidebar-content .scald-file-icon {
  max-width: 16px;
}

/**
 * _footer.scss
 * This covers styles for the footer and subfooter that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* line 14, ../../../sass/global/_footer.scss */
body #section-footer {
  margin-top: 1em;
}
/* line 17, ../../../sass/global/_footer.scss */
body #zone-footer, body #zone-subfooter {
  color: white;
  background-color: #2A3A89;
}
/* line 20, ../../../sass/global/_footer.scss */
body #zone-footer a, body #zone-footer p, body #zone-footer ul, body #zone-footer ol, body #zone-footer li, body #zone-footer img, body #zone-footer span, body #zone-footer strong, body #zone-footer em, body #zone-footer div, body #zone-subfooter a, body #zone-subfooter p, body #zone-subfooter ul, body #zone-subfooter ol, body #zone-subfooter li, body #zone-subfooter img, body #zone-subfooter span, body #zone-subfooter strong, body #zone-subfooter em, body #zone-subfooter div {
  font-size: 12.8px;
  line-height: 16px;
}
/* line 24, ../../../sass/global/_footer.scss */
body #zone-footer .region, body #zone-subfooter .region {
  background-color: #2A3A89;
}
/* line 26, ../../../sass/global/_footer.scss */
body #zone-footer .region .region-inner, body #zone-subfooter .region .region-inner {
  padding: 5px;
}
/* line 29, ../../../sass/global/_footer.scss */
body #zone-footer .region.grid-6, body #zone-subfooter .region.grid-6 {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  border: 10px solid #2A3A89;
}
/* line 36, ../../../sass/global/_footer.scss */
body #zone-footer .region-footer-first, body #zone-subfooter .region-footer-first {
  border-radius: 5px 0 0 0;
}
/* line 38, ../../../sass/global/_footer.scss */
body #zone-footer .region-footer-first.grid-6, body #zone-subfooter .region-footer-first.grid-6 {
  border-width: 10px 10px 10px 0;
  margin-left: 10px;
}
/* line 43, ../../../sass/global/_footer.scss */
body #zone-footer .region-footer-fourth, body #zone-subfooter .region-footer-fourth {
  border-radius: 0 5px 0 0;
  text-align: right;
}
/* line 46, ../../../sass/global/_footer.scss */
body #zone-footer .region-footer-fourth.grid-6, body #zone-subfooter .region-footer-fourth.grid-6 {
  border-width: 10px 0 10px 10px;
  margin-right: 10px;
}
/* line 51, ../../../sass/global/_footer.scss */
body #zone-footer .region-subfooter-first, body #zone-subfooter .region-subfooter-first {
  margin: 0 10px;
}
/* line 54, ../../../sass/global/_footer.scss */
body #zone-footer a, body #zone-subfooter a {
  color: white;
}
/* line 57, ../../../sass/global/_footer.scss */
body #zone-footer h1, body #zone-footer h2, body #zone-footer h3, body #zone-footer h4, body #zone-footer h5, body #zone-subfooter h1, body #zone-subfooter h2, body #zone-subfooter h3, body #zone-subfooter h4, body #zone-subfooter h5 {
  font-size: 16px;
}
/* line 60, ../../../sass/global/_footer.scss */
body #zone-footer ul li.leaf, body #zone-subfooter ul li.leaf {
  list-style-type: none;
  list-style-image: none;
  padding-bottom: 0.5em;
}
/* line 66, ../../../sass/global/_footer.scss */
body #zone-footer .block-nodeblock .block-title, body #zone-footer .block-menu-block .block-title, body #zone-subfooter .block-nodeblock .block-title, body #zone-subfooter .block-menu-block .block-title {
  display: none;
}
/* line 71, ../../../sass/global/_footer.scss */
body #zone-footer {
  border-width: 2px 2px 0 2px;
  border-radius: 5px 5px 0 0;
}
/* line 78, ../../../sass/global/_footer.scss */
body #zone-subfooter {
  border-width: 0 2px 0 2px;
  text-align: center;
}
/* line 83, ../../../sass/global/_footer.scss */
body #nih_nlm_footer {
  width: 100%;
  display: table;
}
/* line 86, ../../../sass/global/_footer.scss */
body #nih_nlm_footer p, body #nih_nlm_footer img, body #nih_nlm_footer svg {
  display: table-cell;
  vertical-align: middle;
}
/* line 90, ../../../sass/global/_footer.scss */
body #nih_nlm_footer p {
  padding: 0 1em;
}
/* line 93, ../../../sass/global/_footer.scss */
body #nih_nlm_footer img, body #nih_nlm_footer svg {
  float: right;
}

/* line 101, ../../../sass/global/_footer.scss */
body.responsive-layout-mobile #zone-footer .region, body.responsive-layout-mobile #zone-subfooter .region {
  min-height: 0;
  border-width: 0;
  border-bottom: 1px dotted #666;
}
/* line 105, ../../../sass/global/_footer.scss */
body.responsive-layout-mobile #zone-footer .region.region-footer-first, body.responsive-layout-mobile #zone-subfooter .region.region-footer-first {
  margin-left: 0;
  border-radius: 0;
}
/* line 109, ../../../sass/global/_footer.scss */
body.responsive-layout-mobile #zone-footer .region.region-footer-fourth, body.responsive-layout-mobile #zone-subfooter .region.region-footer-fourth {
  margin-right: 0;
}
/* line 112, ../../../sass/global/_footer.scss */
body.responsive-layout-mobile #zone-footer .region.region-subfooter-first, body.responsive-layout-mobile #zone-subfooter .region.region-subfooter-first {
  margin-left: 0;
}
/* line 117, ../../../sass/global/_footer.scss */
body.responsive-layout-mobile #zone-footer .node ol, body.responsive-layout-mobile #zone-footer .node ul, body.responsive-layout-mobile #zone-subfooter .node ol, body.responsive-layout-mobile #zone-subfooter .node ul {
  padding: 0;
}

/* line 2, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events {
  padding: .5em;
}
/* line 4, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events li {
  padding: .5em;
  background-color: white;
  box-shadow: 1px 1px 5px #888888;
}
/* line 5, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events li .first {
  padding: inherit;
}
/* line 11, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events li .event-title, .block-gcal-events ul.gcal_events li .event-description, .block-gcal-events ul.gcal_events li .event-date, .block-gcal-events ul.gcal_events li .event-start-time, .block-gcal-events ul.gcal_events li .event-end-time, .block-gcal-events ul.gcal_events li .event-location {
  display: block;
}
/* line 14, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events li .event-title {
  font-weight: bold;
}
/* line 20, ../../../sass/global/_gcal.scss */
.block-gcal-events ul.gcal_events p {
  margin-bottom: 0;
}

/* line 4, ../../../sass/global/_glyphs.scss */
.glyph.inverted-exclamation-mark:after {
  content: "\00a1";
}
/* line 9, ../../../sass/global/_glyphs.scss */
.glyph.cent-sign:after {
  content: "\00a2";
}
/* line 14, ../../../sass/global/_glyphs.scss */
.glyph.pound-sterling-sign:after {
  content: "\00a3";
}
/* line 19, ../../../sass/global/_glyphs.scss */
.glyph.general-currency-sign:after {
  content: "\00a4";
}
/* line 24, ../../../sass/global/_glyphs.scss */
.glyph.yen-sign:after {
  content: "\00a5";
}
/* line 29, ../../../sass/global/_glyphs.scss */
.glyph.broken-bar:after {
  content: "\00a6";
}
/* line 34, ../../../sass/global/_glyphs.scss */
.glyph.section-sign:after {
  content: "\00a7";
}
/* line 39, ../../../sass/global/_glyphs.scss */
.glyph.umlaut-:after {
  content: "\00a8";
}
/* line 44, ../../../sass/global/_glyphs.scss */
.glyph.copyright-sign:after {
  content: "\00a9";
}
/* line 49, ../../../sass/global/_glyphs.scss */
.glyph.ordinal-indicator-feminine:after {
  content: "\00aa";
}
/* line 54, ../../../sass/global/_glyphs.scss */
.glyph.angle-quotation-mark-left:after {
  content: "\00ab";
}
/* line 59, ../../../sass/global/_glyphs.scss */
.glyph.not-sign:after {
  content: "\00ac";
}
/* line 64, ../../../sass/global/_glyphs.scss */
.glyph.soft-hyphen:after {
  content: "\00ad";
}
/* line 69, ../../../sass/global/_glyphs.scss */
.glyph.registered-sign:after, .glyph.reg:after {
  content: "\00ae";
}
/* line 74, ../../../sass/global/_glyphs.scss */
.glyph.macron-:after {
  content: "\00af";
}
/* line 79, ../../../sass/global/_glyphs.scss */
.glyph.degree-sign:after {
  content: "\00b0";
}
/* line 84, ../../../sass/global/_glyphs.scss */
.glyph.plus-or-minus-sign:after {
  content: "\00b1";
}
/* line 89, ../../../sass/global/_glyphs.scss */
.glyph.superscript-two:after {
  content: "\00b2";
}
/* line 94, ../../../sass/global/_glyphs.scss */
.glyph.superscript-three:after {
  content: "\00b3";
}
/* line 99, ../../../sass/global/_glyphs.scss */
.glyph.acute-accent:after {
  content: "\00b4";
}
/* line 104, ../../../sass/global/_glyphs.scss */
.glyph.micro-sign:after {
  content: "\00b5";
}
/* line 109, ../../../sass/global/_glyphs.scss */
.glyph.pilcrow-:after {
  content: "\00b6";
}
/* line 114, ../../../sass/global/_glyphs.scss */
.glyph.middle-dot:after {
  content: "\00b7";
}
/* line 119, ../../../sass/global/_glyphs.scss */
.glyph.cedilla-:after {
  content: "\00b8";
}
/* line 124, ../../../sass/global/_glyphs.scss */
.glyph.superscript-one:after {
  content: "\00b9";
}
/* line 129, ../../../sass/global/_glyphs.scss */
.glyph.ordinal-indicator-masculine:after {
  content: "\00ba";
}
/* line 134, ../../../sass/global/_glyphs.scss */
.glyph.angle-quotation-mark-right:after {
  content: "\00bb";
}
/* line 139, ../../../sass/global/_glyphs.scss */
.glyph.fraction-one-quarter:after {
  content: "\00bc";
}
/* line 144, ../../../sass/global/_glyphs.scss */
.glyph.fraction-one-half:after {
  content: "\00bd";
}
/* line 149, ../../../sass/global/_glyphs.scss */
.glyph.fraction-three-quarters:after {
  content: "\00be";
}
/* line 154, ../../../sass/global/_glyphs.scss */
.glyph.inverted-question-mark:after {
  content: "\00bf";
}
/* line 159, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-grave-accent:after {
  content: "\00c0";
}
/* line 164, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-acute-accent:after {
  content: "\00c1";
}
/* line 169, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-circumflex-accent:after {
  content: "\00c2";
}
/* line 174, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-tilde:after {
  content: "\00c3";
}
/* line 179, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-dieresis-or-umlaut-mark:after {
  content: "\00c4";
}
/* line 184, ../../../sass/global/_glyphs.scss */
.glyph.capital-A-ring:after {
  content: "\00c5";
}
/* line 189, ../../../sass/global/_glyphs.scss */
.glyph.capital-AE-diphthong:after {
  content: "\00c6";
}
/* line 194, ../../../sass/global/_glyphs.scss */
.glyph.capital-C-cedilla:after {
  content: "\00c7";
}
/* line 199, ../../../sass/global/_glyphs.scss */
.glyph.capital-E-grave-accent:after {
  content: "\00c8";
}
/* line 204, ../../../sass/global/_glyphs.scss */
.glyph.capital-E-acute-accent:after {
  content: "\00c9";
}
/* line 209, ../../../sass/global/_glyphs.scss */
.glyph.capital-E-circumflex-accent:after {
  content: "\00ca";
}
/* line 214, ../../../sass/global/_glyphs.scss */
.glyph.capital-E-dieresis-or-umlaut-mark:after {
  content: "\00cb";
}
/* line 219, ../../../sass/global/_glyphs.scss */
.glyph.capital-I-grave-accent:after {
  content: "\00cc";
}
/* line 224, ../../../sass/global/_glyphs.scss */
.glyph.capital-I-acute-accent:after {
  content: "\00cd";
}
/* line 229, ../../../sass/global/_glyphs.scss */
.glyph.capital-I-circumflex-accent:after {
  content: "\00ce";
}
/* line 234, ../../../sass/global/_glyphs.scss */
.glyph.capital-I-dieresis-or-umlaut-mark:after {
  content: "\00cf";
}
/* line 239, ../../../sass/global/_glyphs.scss */
.glyph.capital-Eth-Icelandic:after {
  content: "\00d0";
}
/* line 244, ../../../sass/global/_glyphs.scss */
.glyph.capital-N-tilde:after {
  content: "\00d1";
}
/* line 249, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-grave-accent:after {
  content: "\00d2";
}
/* line 254, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-acute-accent:after {
  content: "\00d3";
}
/* line 259, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-circumflex-accent:after {
  content: "\00d4";
}
/* line 264, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-tilde:after {
  content: "\00d5";
}
/* line 269, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-dieresis-or-umlaut-mark:after {
  content: "\00d6";
}
/* line 274, ../../../sass/global/_glyphs.scss */
.glyph.multiply-sign:after {
  content: "\00d7";
}
/* line 279, ../../../sass/global/_glyphs.scss */
.glyph.capital-O-slash:after {
  content: "\00d8";
}
/* line 284, ../../../sass/global/_glyphs.scss */
.glyph.capital-U-grave-accent:after {
  content: "\00d9";
}
/* line 289, ../../../sass/global/_glyphs.scss */
.glyph.capital-U-acute-accent:after {
  content: "\00da";
}
/* line 294, ../../../sass/global/_glyphs.scss */
.glyph.capital-U-circumflex-accent:after {
  content: "\00db";
}
/* line 299, ../../../sass/global/_glyphs.scss */
.glyph.capital-U-dieresis-or-umlaut-mark:after {
  content: "\00dc";
}
/* line 304, ../../../sass/global/_glyphs.scss */
.glyph.capital-Y-acute-accent:after {
  content: "\00dd";
}
/* line 309, ../../../sass/global/_glyphs.scss */
.glyph.capital-THORN-Icelandic:after {
  content: "\00de";
}
/* line 314, ../../../sass/global/_glyphs.scss */
.glyph.small-sharp-s-German:after {
  content: "\00df";
}
/* line 319, ../../../sass/global/_glyphs.scss */
.glyph.small-a-grave-accent:after {
  content: "\00e0";
}
/* line 324, ../../../sass/global/_glyphs.scss */
.glyph.small-a-acute-accent:after {
  content: "\00e1";
}
/* line 329, ../../../sass/global/_glyphs.scss */
.glyph.small-a-circumflex-accent:after {
  content: "\00e2";
}
/* line 334, ../../../sass/global/_glyphs.scss */
.glyph.small-a-tilde:after {
  content: "\00e3";
}
/* line 339, ../../../sass/global/_glyphs.scss */
.glyph.small-a-dieresis-or-umlaut-mark:after {
  content: "\00e4";
}
/* line 344, ../../../sass/global/_glyphs.scss */
.glyph.small-a-ring:after {
  content: "\00e5";
}
/* line 349, ../../../sass/global/_glyphs.scss */
.glyph.small-ae-diphthong:after {
  content: "\00e6";
}
/* line 354, ../../../sass/global/_glyphs.scss */
.glyph.small-c-cedilla:after {
  content: "\00e7";
}
/* line 359, ../../../sass/global/_glyphs.scss */
.glyph.small-e-grave-accent:after {
  content: "\00e8";
}
/* line 364, ../../../sass/global/_glyphs.scss */
.glyph.small-e-acute-accent:after {
  content: "\00e9";
}
/* line 369, ../../../sass/global/_glyphs.scss */
.glyph.small-e-circumflex-accent:after {
  content: "\00ea";
}
/* line 374, ../../../sass/global/_glyphs.scss */
.glyph.small-e-dieresis-or-umlaut-mark:after {
  content: "\00eb";
}
/* line 379, ../../../sass/global/_glyphs.scss */
.glyph.small-i-grave-accent:after {
  content: "\00ec";
}
/* line 384, ../../../sass/global/_glyphs.scss */
.glyph.small-i-acute-accent:after {
  content: "\00ed";
}
/* line 389, ../../../sass/global/_glyphs.scss */
.glyph.small-i-circumflex-accent:after {
  content: "\00ee";
}
/* line 394, ../../../sass/global/_glyphs.scss */
.glyph.small-i-dieresis-or-umlaut-mark:after {
  content: "\00ef";
}
/* line 399, ../../../sass/global/_glyphs.scss */
.glyph.small-eth-Icelandic:after {
  content: "\00f0";
}
/* line 404, ../../../sass/global/_glyphs.scss */
.glyph.small-n-tilde:after {
  content: "\00f1";
}
/* line 409, ../../../sass/global/_glyphs.scss */
.glyph.small-o-grave-accent:after {
  content: "\00f2";
}
/* line 414, ../../../sass/global/_glyphs.scss */
.glyph.small-o-acute-accent:after {
  content: "\00f3";
}
/* line 419, ../../../sass/global/_glyphs.scss */
.glyph.small-o-circumflex-accent:after {
  content: "\00f4";
}
/* line 424, ../../../sass/global/_glyphs.scss */
.glyph.small-o-tilde:after {
  content: "\00f5";
}
/* line 429, ../../../sass/global/_glyphs.scss */
.glyph.small-o-dieresis-or-umlaut-mark:after {
  content: "\00f6";
}
/* line 434, ../../../sass/global/_glyphs.scss */
.glyph.divide-sign:after {
  content: "\00f7";
}
/* line 439, ../../../sass/global/_glyphs.scss */
.glyph.small-o-slash:after {
  content: "\00f8";
}
/* line 444, ../../../sass/global/_glyphs.scss */
.glyph.small-u-grave-accent:after {
  content: "\00f9";
}
/* line 449, ../../../sass/global/_glyphs.scss */
.glyph.small-u-acute-accent:after {
  content: "\00fa";
}
/* line 454, ../../../sass/global/_glyphs.scss */
.glyph.small-u-circumflex-accent:after {
  content: "\00fb";
}
/* line 459, ../../../sass/global/_glyphs.scss */
.glyph.small-u-dieresis-or-umlaut-mark:after {
  content: "\00fc";
}
/* line 464, ../../../sass/global/_glyphs.scss */
.glyph.small-y-acute-accent:after {
  content: "\00fd";
}
/* line 469, ../../../sass/global/_glyphs.scss */
.glyph.small-thorn-Icelandic:after {
  content: "\00fe";
}
/* line 474, ../../../sass/global/_glyphs.scss */
.glyph.small-y-dieresis-or-umlaut-mark:after {
  content: "\00ff";
}

/** 
 * Google Custom Search control elements
 */
@media (max-width: 768px) {
  /* line 5, ../../../sass/global/_gsc.scss */
  body .site-search {
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  /* line 5, ../../../sass/global/_gsc.scss */
  body .site-search {
    display: inline-block;
    width: 50%;
    max-width: 350px;
    float: right;
  }
}
@media (min-width: 1280px) {
  /* line 5, ../../../sass/global/_gsc.scss */
  body .site-search {
    display: inline-block;
    margin-top: 1em;
    float: right;
  }
}
/* line 21, ../../../sass/global/_gsc.scss */
body .site-search > form {
  background-color: #2A3A89;
  padding: .5em;
}
@media (min-width: 768px) {
  /* line 21, ../../../sass/global/_gsc.scss */
  body .site-search > form {
    border-radius: .5em;
  }
}
/* line 27, ../../../sass/global/_gsc.scss */
body .site-search > form table {
  width: 100%;
}
/* line 30, ../../../sass/global/_gsc.scss */
body .site-search > form input[type=text] {
  background: url(http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif) 0% 50% no-repeat white;
}
/* line 32, ../../../sass/global/_gsc.scss */
body .site-search > form input[type=text]:focus {
  background-image: none;
}
@media (max-width: 768px) {
  /* line 30, ../../../sass/global/_gsc.scss */
  body .site-search > form input[type=text] {
    width: 80%;
  }
}
@media (min-width: 768px) {
  /* line 30, ../../../sass/global/_gsc.scss */
  body .site-search > form input[type=text] {
    min-width: 250px;
  }
}
@media (min-width: 1280px) {
  /* line 30, ../../../sass/global/_gsc.scss */
  body .site-search > form input[type=text] {
    width: 100%;
  }
}
/* line 45, ../../../sass/global/_gsc.scss */
body .site-search > form td {
  background-color: transparent;
}
/* line 50, ../../../sass/global/_gsc.scss */
body table.gsc-branding td, body table.gsc-branding, body table.gcsc-branding td, body table.gcsc-branding {
  vertical-align: bottom;
}
/* line 54, ../../../sass/global/_gsc.scss */
body .gsc-orderby .gsc-orderby-label, body .gsc-orderby .gsc-option-menu-container, body .gsc-orderby .gsc-option-menu-container.gsc-selected-option-container {
  font-size: 12.8px;
  font-family: "Trebuchet MS", sans-serif;
}
/* line 61, ../../../sass/global/_gsc.scss */
body .gs-result .gs-visibleUrl, body .gsc-results .gs-visibleUrl {
  font-size: 12.8px;
}
/* line 64, ../../../sass/global/_gsc.scss */
body .gs-result .gs-per-result-labels, body .gsc-results .gs-per-result-labels {
  display: none;
}
/* line 69, ../../../sass/global/_gsc.scss */
body .gs-result .gsc-cursor .gsc-cursor-current-page, body .gsc-results .gsc-cursor .gsc-cursor-current-page {
  background-color: #eee;
  border: 1px solid #2A3A89;
  border-weight: 1px 0;
  font-weight: bold;
  text-shadow: none;
}

/* line 84, ../../../sass/global/_gsc.scss */
.content .gsc-control-cse .gsc-refinementsArea .gsc-refinementHeader, .content .gsc-control-cse .gsc-refinementsArea .gsc-option-menu-container, .content .gsc-control-cse .gsc-above-wrapper-area .gsc-refinementHeader, .content .gsc-control-cse .gsc-above-wrapper-area .gsc-option-menu-container {
  font-size: 12.8px;
  font-family: "Trebuchet MS", sans-serif;
}

/**
 * _menu.scss
 * This covers styles for the navigational menu region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/* line 11, ../../../sass/global/_menu.scss */
body #zone-menu {
  /*.gsc-control-searchbox-only, .gsc-control-searchbox-only-en,
  .block-google-cse {
      position: relative;
      margin-bottom: -1px;
      z-index: 2;
      form {
          background-color: $primary-color;
          float: right;
          width: 350px;
          margin: 0;
          padding: 3px 4px;
          border: 1px solid $region-border-color;
          border-width: 0;
          border-radius: 5px 5px 0 0;
      }
      noscript {
          background-color: $primary-color;
          float: right;
          width: 50%;
          padding: 3px 4px;
          color: white;
          a {
              color: white;
          }
      }
      .block-title {
          display: none;
      }
      #google-cse-results-gadget {
          display: none;
      }
      label {
          font-size: 0;
      }
  }
  #search-block-form {
      text-align: right;
      background-color: $primary-color;
      border-radius: 5px 5px 0 0;
      float:right;
      .form-item-search-block-form {
          padding: 8px;
      }
      .form-actions {
          padding: 8px;
      }
  }*/
}

/* line 62, ../../../sass/global/_menu.scss */
body.responsive-layout-mobile {
  /*#zone-menu {
      .gsc-control-searchbox-only, .gsc-control-searchbox-only-en,
      .block-google-cse {
          form {
              border-width: 1px;
              border-radius: 5px;
              width: 100%;
              text-align: center;
          }
      }
  }*/
}

/* line 2, ../../../sass/global/_navbar.scss */
#navbar-administration a, #navbar-administration p, #navbar-administration ul, #navbar-administration ol, #navbar-administration li, #navbar-administration img, #navbar-administration span, #navbar-administration strong, #navbar-administration em, #navbar-administration div {
  font-size: 12.8px;
}

/* line 7, ../../../sass/global/_ntrp.scss */
.ntrp-schedule th {
  border: 1px solid white;
  background-color: #2A3A89;
  /*region's main color*/
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}
/* line 15, ../../../sass/global/_ntrp.scss */
.ntrp-schedule th a {
  color: white;
  text-decoration: none;
}
/* line 19, ../../../sass/global/_ntrp.scss */
.ntrp-schedule th.active {
  background-color: #c9cddb;
  /*this is 20% alpha of the region color*/
  border: 1px solid aqua;
  color: black;
}
/* line 24, ../../../sass/global/_ntrp.scss */
.ntrp-schedule th.active a {
  color: black;
}
/* line 30, ../../../sass/global/_ntrp.scss */
.ntrp-schedule tr.even, .ntrp-schedule tr.odd {
  vertical-align: middle;
}
/* line 34, ../../../sass/global/_ntrp.scss */
.ntrp-schedule tr.even td {
  background-color: #d4d8e7;
}
/* line 39, ../../../sass/global/_ntrp.scss */
.ntrp-schedule tr.odd td {
  background-color: #f4f5f9;
}
/* line 44, ../../../sass/global/_ntrp.scss */
.ntrp-schedule td {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 3px;
  vertical-align: middle;
}
/* line 50, ../../../sass/global/_ntrp.scss */
.ntrp-schedule td.views-table {
  vertical-align: middle;
}
/* line 53, ../../../sass/global/_ntrp.scss */
.ntrp-schedule td.col-w-25 {
  width: 25%;
}
/* line 56, ../../../sass/global/_ntrp.scss */
.ntrp-schedule td.col-w-30 {
  width: 30%;
}
/* line 59, ../../../sass/global/_ntrp.scss */
.ntrp-schedule td.col-w-15 {
  width: 15%;
}

/**
 * _scald.scss
 * This covers styles for Scald media items
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/* line 10, ../../../sass/global/_scald.scss */
.atom-align-right, .atom-align-left {
  margin: 1em;
}

/* line 15, ../../../sass/global/_scald.scss */
.page-atom .galleria-container {
  position: relative;
  left: 25%;
}

/* line 21, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper.type-file {
  display: inline-block;
}
/* line 23, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper.type-file .dnd-legend-wrapper {
  display: none;
}
/* line 26, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper.type-file span.ext {
  display: inline-block;
}

/* line 32, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper.context-original {
  margin: 0;
  padding: 0;
}
/* line 36, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper.inline, .dnd-atom-wrapper.context-inline {
  display: inline-block;
}
/* line 40, ../../../sass/global/_scald.scss */
.dnd-atom-wrapper .dnd-legend-wrapper:empty {
  display: none;
}

/**
 * _sidebars.scss
 * This covers styles for the left and right sidebar that are
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* Navigational elements */
/* line 38, ../../../sass/global/_sidebars.scss */
body #block-system-main .sidebar {
  background-color: #DBD5B7;
  display: table-cell;
  margin-bottom: 1em;
}
/* line 14, ../../../sass/global/_sidebars.scss */
body #block-system-main .sidebar .region-inner {
  border: 1px solid #BBB;
}
/* line 20, ../../../sass/global/_sidebars.scss */
body #block-system-main .sidebar ul li {
  list-style: none;
  margin-left: 0;
}
/* line 24, ../../../sass/global/_sidebars.scss */
body #block-system-main .sidebar ul li:before {
  content: "\00a0\bb\00a0";
}
/* line 42, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first, body .region-sidebar-second {
  background-color: #DBD5B7;
  display: table-cell;
  margin-bottom: 1em;
}
/* line 14, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .region-inner, body .region-sidebar-second .region-inner {
  border: 1px solid #BBB;
}
/* line 20, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first ul li, body .region-sidebar-second ul li {
  list-style: none;
  margin-left: 0;
}
/* line 24, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first ul li:before, body .region-sidebar-second ul li:before {
  content: "\00a0\bb\00a0";
}
/* line 44, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first a, body .region-sidebar-first p, body .region-sidebar-first ul, body .region-sidebar-first ol, body .region-sidebar-first li, body .region-sidebar-first img, body .region-sidebar-first span, body .region-sidebar-first strong, body .region-sidebar-first em, body .region-sidebar-first div, body .region-sidebar-first section, body .region-sidebar-second a, body .region-sidebar-second p, body .region-sidebar-second ul, body .region-sidebar-second ol, body .region-sidebar-second li, body .region-sidebar-second img, body .region-sidebar-second span, body .region-sidebar-second strong, body .region-sidebar-second em, body .region-sidebar-second div, body .region-sidebar-second section {
  font-size: 12.8px;
  line-height: 16px;
}
/* line 48, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first img, body .region-sidebar-second img {
  max-width: 100%;
  height: auto;
}
/* line 52, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-title, body .region-sidebar-second .block-title {
  display: block;
  background-color: #2A3A89;
  color: white;
  border-radius: 2px 2px 0 0;
  font-size: 16px;
  padding: 4px;
  letter-spacing: .5px;
}
/* line 61, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-nodeblock, body .region-sidebar-first .block-aggregator, body .region-sidebar-first .block-nnlm-emergency-status-block, body .region-sidebar-second .block-nodeblock, body .region-sidebar-second .block-aggregator, body .region-sidebar-second .block-nnlm-emergency-status-block {
  background-color: white;
  margin: .5em .2em;
  border-radius: 0 0 3px 3px;
}
/* line 67, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-nnlm-emergency-status-block .block-title, body .region-sidebar-second .block-nnlm-emergency-status-block .block-title {
  background-color: red;
}
/* line 70, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-nnlm-emergency-status-block .content, body .region-sidebar-second .block-nnlm-emergency-status-block .content {
  padding: 2px;
}
/* line 74, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block, body .region-sidebar-second .block-menu-block {
  background-color: transparent;
  margin: 1px;
}
/* line 77, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul, body .region-sidebar-second .block-menu-block ul {
  list-style-position: inside;
}
/* line 79, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li, body .region-sidebar-second .block-menu-block ul li {
  padding-top: .5em;
}
/* line 81, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li.active, body .region-sidebar-second .block-menu-block ul li.active {
  font-weight: bolder;
}
/* line 83, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li.active a:hover, body .region-sidebar-second .block-menu-block ul li.active a:hover {
  background-color: transparent;
}
/* line 86, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li.active a.active, body .region-sidebar-second .block-menu-block ul li.active a.active {
  text-decoration: none;
}
/* line 89, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li.active ul, body .region-sidebar-second .block-menu-block ul li.active ul {
  font-weight: normal;
}
/* line 93, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li.active-trail, body .region-sidebar-second .block-menu-block ul li.active-trail {
  background-color: white;
  border-radius: 3px;
}
/* line 97, ../../../sass/global/_sidebars.scss */
body .region-sidebar-first .block-menu-block ul li a, body .region-sidebar-second .block-menu-block ul li a {
  border-radius: 2px;
}

/* line 107, ../../../sass/global/_sidebars.scss */
body.responsive-layout-mobile .region-sidebar-first, body.responsive-layout-mobile .region-sidebar-second {
  width: 100%;
}
/* line 109, ../../../sass/global/_sidebars.scss */
body.responsive-layout-mobile .region-sidebar-first .region-inner, body.responsive-layout-mobile .region-sidebar-second .region-inner {
  border-width: 0;
}

/**
 * _superfish.scss
 * This covers styles for superfish drop down menus that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* line 20, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .content, body .block-superfish .content {
  background-color: #2a3a89;
  border-radius: 1em 0 0 0;
}
/* line 24, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu, body .block-superfish .sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 28, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu *, body .block-superfish .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 33, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu a, body .block-superfish .sf-menu a {
  display: block;
  position: relative;
  background-color: #2a3a89;
  color: white;
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
}
/* line 41, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu a.menuparent:after, body .block-superfish .sf-menu a.menuparent:after {
  content: '\00a0\bb';
}
/* line 44, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu a.active, body .block-superfish .sf-menu a.active {
  font-weight: bold;
  background-color: #DBD5B7;
  color: black;
}
/* line 49, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu a .sf-sub-indicator, body .block-superfish .sf-menu a .sf-sub-indicator {
  display: none;
}
/* line 53, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu li, body .block-superfish .sf-menu li {
  position: relative;
}
/* line 55, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu li:hover > a, body .superfish-top-nav .sf-menu li.sfHover > a, body .block-superfish .sf-menu li:hover > a, body .block-superfish .sf-menu li.sfHover > a {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #364bb0;
  color: white;
}
/* line 64, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu li.active-trail.menuparent > a, body .block-superfish .sf-menu li.active-trail.menuparent > a {
  background-color: #DBD5B7;
  color: black;
}
/* line 70, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li, body .block-superfish .sf-menu > li {
  float: left;
}
/* line 72, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li.first, body .block-superfish .sf-menu > li.first {
  border-radius: 1em 0 0 0;
  background-color: transparent;
}
/* line 75, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li.first > a, body .block-superfish .sf-menu > li.first > a {
  border-radius: 1em 0 0 0;
}
/* line 80, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li:hover > a, body .superfish-top-nav .sf-menu > li.sfHover > a, body .block-superfish .sf-menu > li:hover > a, body .block-superfish .sf-menu > li.sfHover > a {
  z-index: 100;
}
/* line 82, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li:hover > a.active, body .superfish-top-nav .sf-menu > li.sfHover > a.active, body .block-superfish .sf-menu > li:hover > a.active, body .block-superfish .sf-menu > li.sfHover > a.active {
  font-weight: bold;
  background-color: #DBD5B7;
  color: black;
}
/* line 88, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu > li:hover > ul, body .superfish-top-nav .sf-menu > li.sfHover > ul, body .block-superfish .sf-menu > li:hover > ul, body .block-superfish .sf-menu > li.sfHover > ul {
  display: block;
}
/* line 93, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu ul, body .block-superfish .sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  min-width: 12em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 101, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu ul li, body .block-superfish .sf-menu ul li {
  border-top: 1px solid white;
}
/* line 104, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-menu ul ul, body .block-superfish .sf-menu ul ul {
  top: 0;
  left: 100%;
}
/* line 112, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-arrows > li > .sf-with-ul:focus:after, body .superfish-top-nav .sf-arrows > li:hover > .sf-with-ul:focus:after, body .superfish-top-nav .sf-arrows > .sfHover > .sf-with-ul:focus:after, body .block-superfish .sf-arrows > li > .sf-with-ul:focus:after, body .block-superfish .sf-arrows > li:hover > .sf-with-ul:focus:after, body .block-superfish .sf-arrows > .sfHover > .sf-with-ul:focus:after {
  border-top-color: white;
}
/* line 117, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-arrows ul .sf-with-ul:after, body .block-superfish .sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5);
}
/* line 126, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-arrows ul li > .sf-with-ul:focus:after, body .superfish-top-nav .sf-arrows ul li .sf-with-ul:after, body .superfish-top-nav .sf-arrows ul li:hover > .sf-with-ul:focus:after, body .superfish-top-nav .sf-arrows ul li:hover .sf-with-ul:after, body .superfish-top-nav .sf-arrows ul .sfHover > .sf-with-ul:focus:after, body .superfish-top-nav .sf-arrows ul .sfHover .sf-with-ul:after, body .block-superfish .sf-arrows ul li > .sf-with-ul:focus:after, body .block-superfish .sf-arrows ul li .sf-with-ul:after, body .block-superfish .sf-arrows ul li:hover > .sf-with-ul:focus:after, body .block-superfish .sf-arrows ul li:hover .sf-with-ul:after, body .block-superfish .sf-arrows ul .sfHover > .sf-with-ul:focus:after, body .block-superfish .sf-arrows ul .sfHover .sf-with-ul:after {
  border-left-color: white;
}
/* line 131, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-arrows .sf-with-ul, body .block-superfish .sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}
/* line 134, ../../../sass/global/_superfish.scss */
body .superfish-top-nav .sf-arrows .sf-with-ul:after, body .block-superfish .sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5);
}

/*

body {
    .superfish-top-nav, .block-superfish {
        background-color: $superfish-background-color;
        border-radius: 1em 0 0 0;
        z-index: 5;
        a, p, ul, ol, li, img, span, strong, em, div {
            font-size: $base-font-size * 0.8;
        }
        .content {
            margin: 0;
            padding: 0;
        }
        //custom design
        .sf-menu {
            ul{
                position:absolute;
                top:100%;
                left: 0;
                z-index:99;
            }
            li {

                text-align: center;
                a, span {
                    background-color: transparent;
                    color: $superfish-link-color;
                    text-decoration: none;
                    padding: .5em 2em .5em .5em;
                    & > .sf-sub-indicator {
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid $superfish-link-color;
                        padding: 0;
                        background-image: none;
                    }
                    &:hover {
                        background-color: $superfish-link-background-hover-color;
                        color: $superfish-link-hover-color;
                    }
                }
                .first {
                    a {
                        border-radius: 1em 0 0 0;
                    }
                }
                &.sfHover, &:hover {
                    @include shaded;
                    & > ul {
                        background-color: $superfish-background-color;
                        top: 0;
                        right: 1px;
                        li.first{
                            a{
                                border-radius: 0;
                            }
                        }
                    }
                }
                &.active-trail {
                    a {
                        &.menuparent, &.active {
                            background-color: $superfish-link-active-background-color;
                            color: $superfish-link-active-color;
                        }
                        &.menuparent {
                            border-width: 1px 1px 0 1px;
                        }
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
*/
/* line 236, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav, body.responsive-layout-mobile .block-superfish {
  padding: 5px;
  background-color: #2a3a89;
  border-width: 1px;
}
/* line 238, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav .sf-accordion-toggle a, body.responsive-layout-mobile .block-superfish .sf-accordion-toggle a {
  background-color: #2a3a89;
  background-image: url("/sites/all/themes/nnlm/img/menu_icon.png");
  margin-right: 1.5em;
  background-image: url("/sites/all/themes/nnlm/img/menu_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/sites/all/themes/nnlm/img/menu_icon.svg);
}
/* line 250, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav .sf-accordion-toggle a span, body.responsive-layout-mobile .block-superfish .sf-accordion-toggle a span {
  display: none;
}
/* line 256, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav .sf-accordion, body.responsive-layout-mobile .block-superfish .sf-accordion {
  min-height: 30px;
}
/* line 259, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav select, body.responsive-layout-mobile .block-superfish select {
  background-color: #2a3a89;
  color: white;
  border: 0;
}
/* line 267, ../../../sass/global/_superfish.scss */
body.responsive-layout-mobile .superfish-top-nav .sf-menu.sf-style-default, body.responsive-layout-mobile .block-superfish .sf-menu.sf-style-default {
  border: 0;
}

/* ------------------
 styling for the tables 
   ------------------   */
/* line 6, ../../../sass/global/_tables.scss */
.table-minimal, .table-basic-grid, .table-spaces-only {
  background: #fff;
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
/* line 12, ../../../sass/global/_tables.scss */
.table-minimal caption, .table-basic-grid caption, .table-spaces-only caption {
  padding: .5em;
}
/* line 15, ../../../sass/global/_tables.scss */
.table-minimal th, .table-basic-grid th, .table-spaces-only th {
  font-weight: bold;
  padding: 10px 8px;
  border-bottom: 1px solid #ccc;
}
/* line 20, ../../../sass/global/_tables.scss */
.table-minimal td, .table-basic-grid td, .table-spaces-only td {
  padding: 9px 8px 0px 8px;
}

/* line 26, ../../../sass/global/_tables.scss */
.table-spaces-only th, .table-spaces-only td {
  border: 0;
}

/* line 31, ../../../sass/global/_tables.scss */
.table-basic-grid {
  border: 1px solid #ccc;
}
/* line 33, ../../../sass/global/_tables.scss */
.table-basic-grid th, .table-basic-grid td {
  border: 1px solid #ccc;
}

/* line 39, ../../../sass/global/_tables.scss */
.table-minimal th {
  padding: 8px 2px;
  border-bottom: 1px solid #ccc;
  border-right: 30px solid  white;
  border-left: 30px solid  white;
}
/* line 45, ../../../sass/global/_tables.scss */
.table-minimal td {
  padding: 12px 2px 0px 2px;
  border-right: 30px solid white;
  border-left: 30px solid white;
}

/* line 3, ../../../sass/global/_toc.scss */
#toc .toc-list li {
  list-style-type: disc;
}

/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/**
 * _views_slideshow.scss
 * This covers styles for output by the views_slideshow module that are
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
/* line 16, ../../../sass/global/_views_slideshow.scss */
body {
  /*
  .view-slideshow {
      padding: 5px;
      border-radius: 5px;
      background-color: white;
      /* the standard */
  /* z-index: 50000;
  */
        /*padding: 5px;
        border: 1px solid $views-slideshow-gradient-start;
        margin: 1em auto 3em auto;
        border-radius: 5px;

        .flexslider_views_slideshow_main {
            background-color: $views-slideshow-gradient-start;
            //for IE 9
            background: linear-gradient($views-slideshow-gradient-start, $views-slideshow-gradient-end);
            border-radius: 10px;
            color: white;
            a, span {
                color: white;
            }
            .node {
                background-color: transparent;
                width: 97%;
                vertical-align: middle;
            }
            .flexslider-views-slideshow-main-frame {
                list-style-type: none;
                margin: 0 !important;
                .flexslider-views-slideshow-main-frame-row {
                    box-sizing: border-box;
                    margin: 0 auto;
                    .views-field-field-slide-image {
                        position: absolute;
                    }
                    .views-field-title {
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        box-sizing: border-box;
                        font-size: $h2-font-size;
                        margin-bottom: .5em;
                        padding: .25em;
                        text-align: center;
                    }
                    .views-field-body {
                        box-sizing: border-box;
                        margin: .5em 0;
                        text-align: left;
                    }
                    .views-field-field-more {
                        @include material_button;
                        min-width: 100px;
                        min-height: 50px;
                        margin-top: .5em;
                        a, span {
                            font-size: $h4-font-size;
                            font-size: 0.9em;
                            color: #646464;
                        }
                    }
                }
            }
        }
        */
 /*
header {
    text-align: center;
    .node-title {
        font-size: $h4-font-size;
        font-family: $base-font-family;
        letter-spacing: .5px;
        a {
            text-decoration: none;
        }
    }
}
.views-row {
    box-sizing: border-box;
    margin: 0 auto;
    .views-field-title {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-sizing: border-box;
        font-size: $h2-font-size;
        margin-bottom: .5em;
        padding: .25em;
        text-align: center;
    }
    .views-field-body {
        box-sizing: border-box;
        margin: .5em 0;
        text-align: left;
    }
    .views-field-field-more {
        @include material_button;
        min-width: 100px;
        min-height: 50px;
        margin-top: .5em;
        a, span {
            font-size: $h4-font-size;
            font-size: 0.9em;
            color: #646464;
        }
    }
}
.views-slideshow-controls-bottom {
    z-index: 10;
    background-color: white;
}*/
}
/* line 17, ../../../sass/global/_views_slideshow.scss */
body #zone-content .region-content ul.flexslider-views-slideshow-main-frame {
  margin: 0;
}
/* line 21, ../../../sass/global/_views_slideshow.scss */
body .block-views {
  width: 100%;
}
/* line 23, ../../../sass/global/_views_slideshow.scss */
body .block-views .block-title {
  display: none;
}
/* line 28, ../../../sass/global/_views_slideshow.scss */
body .flex-container a:active, body .flex-container a:focus, body .flexslider a:active, body .flexslider a:focus {
  outline: none;
}
/* line 32, ../../../sass/global/_views_slideshow.scss */
body .slides,
body .flex-control-nav,
body .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 39, ../../../sass/global/_views_slideshow.scss */
body .views-slideshow-controls-bottom {
  text-align: right;
}
/* line 42, ../../../sass/global/_views_slideshow.scss */
body .flex-container {
  min-width: 360px;
  max-width: 960px;
  margin: 0 auto;
}
/* line 46, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  margin: 0 0 40px 0;
  position: relative;
  border-width: 0;
  zoom: 1;
}
/* line 55, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider a img {
  outline: none;
  border: 0;
}
/* line 60, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .node {
  background-color: transparent;
}
/* line 63, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .flex-prev, body .flex-container .flexslider .flex-next {
  padding-bottom: 2em;
  text-decoration: none;
}
/* line 67, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides {
  zoom: 1;
  /*
  .field-name-body{
      display: block;
      float: left;
  }
  .field-name-field-slide-image {
      display: block;
      float:left;
      vertical-align: middle;
      margin: 1em;
  }
   */
}
/* line 69, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides img, body .flex-container .flexslider .slides figure {
  width: 100%;
  display: block;
  border-radius: 2px;
}
/* line 74, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* line 78, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 86, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
/* line 92, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-title, body .flex-container .flexslider .slides .node-title {
  background-color: #2a3a89;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  font-size: 16px;
  padding: .25em;
  margin: 0 auto;
  text-align: center;
  color: white;
}
/* line 101, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-title a, body .flex-container .flexslider .slides .node-title a {
  color: white;
}
/* line 117, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-slide-image {
  margin: 1em;
}
/* line 122, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-slide-image figure {
  margin: 0;
  padding: 0;
}
/* line 126, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-slide-image figure img {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 100px;
  max-width: 360px;
  max-height: 360px;
  margin: 0 auto;
}
/* line 137, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-body {
  min-width: 300px;
  max-width: 350px;
  margin: 1em auto;
}
/* line 142, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-more {
  box-sizing: border-box;
  text-align: center;
  display: block;
  width: 100%;
  margin: .5em;
  clear: left;
  font-size: larger;
}
/* line 13, ../../../sass/_mixins.scss */
body .flex-container .flexslider .slides .field-name-field-more a, body .flex-container .flexslider .slides .field-name-field-more span {
  text-decoration: none;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  padding: 1em;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 23, ../../../sass/_mixins.scss */
body .flex-container .flexslider .slides .field-name-field-more a:hover, body .flex-container .flexslider .slides .field-name-field-more span:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
/* line 28, ../../../sass/_mixins.scss */
body .flex-container .flexslider .slides .field-name-field-more span.ext {
  display: none;
}
/* line 149, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-more a, body .flex-container .flexslider .slides .field-name-field-more span {
  font-size: 16px;
  font-size: 0.9em;
  color: #343434;
  border-color: #666;
}
/* line 156, ../../../sass/global/_views_slideshow.scss */
body .flex-container .flexslider .slides .field-name-field-slide-image-link {
  display: none;
}
/* line 163, ../../../sass/global/_views_slideshow.scss */
body .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  box-sizing: border-box;
  display: inline-block;
}
/* line 164, ../../../sass/global/_views_slideshow.scss */
body .views-slideshow-controls-bottom .views-slideshow-pager-field-item figure, body .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
  width: 50px;
}

/*
body.responsive-layout-narrow, body.responsive-layout-normal,
body.responsive-layout-wide {
    .flex-container {
        .flexslider {
            .slides {}
        }
    }
} */
